<ul class="nav nav-pills nav-justified cart-nav">
    <li role="presentation" class="active" data-minicart-target-state="state:default">
        <a href="#" >
            <b>Schritt 1</b><br/>
            Warenkorb
        </a>
    </li>
    <li role="presentation" class="disabled" data-minicart-target-state="state:step2">
        <a href="#">
            <b>Schritt 2</b><br/>
            Ihre Adresse
        </a>
    </li>
    <li role="presentation" class="disabled" data-minicart-target-state="state:step3">
        <a href="#">
            <b>Schritt 3</b><br/>
            Prüfen und Bestellen
        </a>
    </li>
</ul>
