<ul class="nav nav-pills nav-justified cart-nav">
    {{test}}
    <li role="presentation" class="active" data-minicart-role="change-state" data-minicart-target-state="default">
        <a href="#" data-minicart-role="change-state" data-minicart-target-state="default">
            <b>Schritt 1</b><br/>
            Warenkorb
        </a>
    </li>
    <li role="presentation" class="disabled" data-minicart-role="change-state" data-minicart-target-state="step2">
        <a href="#" data-minicart-role="change-state" data-minicart-target-state="step2">
            <b>Schritt 2</b><br/>
            Ihre Adresse
        </a>
    </li>
    <li role="presentation" class="disabled" data-minicart-role="change-state" data-minicart-target-state="step3">
        <a href="#" data-minicart-role="change-state" data-minicart-target-state="step3">
            <b>Schritt 3</b><br/>
            Prüfen und Bestellen
        </a>
    </li>
</ul>
