<ul class="nav nav-pills nav-justified cart-nav">
    {{test}}
    <li role="presentation" class="active" data-minicart-indicator="default">
        <a href="#" >
            <b>Schritt 1</b><br/>
            Warenkorb
        </a>
    </li>
    <li role="presentation" class="disabled" data-minicart-indicator="step2">
        <a href="#" >
            <b>Schritt 2</b><br/>
            Ihre Adresse
        </a>
    </li>
    <li role="presentation" class="disabled" data-minicart-indicator="step3">
        <a href="#" >
            <b>Schritt 3</b><br/>
            Prüfen und Bestellen
        </a>
    </li>
</ul>
