<ul class="nav nav-pills nav-justified cart-nav">
    <li role="presentation" class="active">
        <a href="#">
            <b>Schritt 1</b><br/>
            Warenkorb
        </a>
    </li>
    <li role="presentation" class="disabled">
        <a href="#">
            <b>Schritt 2</b><br/>
            Ihre Adresse
        </a>
    </li>
    <li role="presentation" class="disabled">
        <a href="#">
            <b>Schritt 3</b><br/>
            Prüfen und Bestellen
        </a>
    </li>
</ul>
