

    <h2 class="text-center">Ihre Adresse</h2>

    <div class="col-md-12 alert alert-warning text-center" role="alert">
        Füllen Sie bitte alle Pflichfelder aus.
    </div>


    <form class="row">

        <div class="cart-box cart-form-contactInfo">
            <h3 class="col-md-12">Ihre Kontaktdaten</h3>

            {{> ./input.hbs name="kontakt:firma" label="Firma" required=true }}

            <div class="form-group col-md-6">
                <label for="Firma">Anrede*</label>
                <select class="form-control" required="required">
                    <option disabled selected>bitte wählen</option>
                    <option>Herr</option>
                    <option>Frau</option>
                </select>
            </div>

            {{> ./input.hbs name="kontakt:vorname" label="Vorname" required=true }}
            {{> ./input.hbs name="kontakt:nachname" label="Nachname" required=true }}
            {{> ./input.hbs name="kontakt:email" label="E-Mail Adresse" required=true }}
            {{> ./input.hbs name="kontakt:email" label="E-Mail Adresse wiederholen" required=true }}
            <div class="clearfix"></div>
        </div>


        <div class="cart-box cart-form-billingAddress">
            <h3 class="col-md-12">Ihre Adresse</h3>
            {{> ./input.hbs name="billing:vorname" label="Vorname" required=true }}
            {{> ./input.hbs name="billing:nachname" label="Nachname" required=true }}

            {{> ./input.hbs name="billing:strasse" label="Straße und Nr." required=true size=12}}
            {{> ./input.hbs name="billing:plz" label="PLZ" required=true size=4}}
            {{> ./input.hbs name="billing:ort" label="Ort" required=true size=8}}

            <div class="form-group col-md-12">
                <label for="Firma">Land*</label>
                <select class="form-control" required="required">
                    <option>Deutschland</option>
                </select>
            </div>

            <div class="checkbox col-md-12">
                <label>
                    <input type="checkbox"> Die <b>Lieferadresse</b> weicht von der Rechnungsadresse ab.
                </label>
            </div>

            <div class="clearfix"></div>
        </div>


        <div class="cart-box cart-form-deliveryAddress">
            <h3 class="col-md-12">Lieferadresse</h3>

            {{> ./input.hbs name="billing:strasse" label="Straße und Nr." required=true size=12}}
            {{> ./input.hbs name="billing:plz" label="PLZ" required=true size=4}}
            {{> ./input.hbs name="billing:ort" label="Ort" required=true size=8}}
            <div class="form-group col-md-12">
                <label for="Firma">Land*</label>
                <select class="form-control" required="required">
                    <option>Deutschland</option>
                </select>
            </div>

            <div class="clearfix"></div>
        </div>


        <div class="cart-box cart-form-deliveryAddress">
            <h3 class="col-md-12">Newsletter</h3>

            <div class="checkbox col-md-12">
                <label>
                    <input type="checkbox"> Ich möchte über aktuelle Angebote, Sonderaktionen und Neuigkeiten per
                    E-Mail informiert werden. Selbstverständlich können Sie den Newsletter jederzeit und umgehend
                    wieder abbestellen.
                </label>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>

    <button type="button" class="btn btn-default pull-left"  data-minicart-role="change-state" data-minicart-target-state="default">zurück zu Schritt 1</button>
    <button type="button" class="btn btn-success pull-right"  data-minicart-role="change-state" data-minicart-target-state="step3">Schritt 3: Prüfen und Bestellen</button>
</div>

