

    <h2 class="text-center">Ihre Adresse</h2>

    <div class="col-md-12 alert alert-warning text-center" role="alert">
        Füllen Sie bitte alle Pflichfelder aus.
    </div>


    <form class="row">

        <div class="cart-box cart-form-contactInfo">
            <h3 class="col-md-12">Ihre Kontaktdaten</h3>

            {{> ./input.hbs name="kontakt:firma" label="Firma" required=true }}

            {{> ./anrede.hbs name="kontakt:anrede" label="Anrede" required=true }}

            {{> ./input.hbs name="kontakt:vorname" label="Vorname" required=true }}
            {{> ./input.hbs name="kontakt:nachname" label="Nachname" required=true }}
            {{> ./input.hbs name="kontakt:email" label="E-Mail Adresse" required=true }}
            {{> ./input.hbs name="kontakt:email" label="E-Mail Adresse wiederholen" required=true }}
            <div class="clearfix"></div>
        </div>


        <div class="cart-box cart-form-billingAddress">
            <h3 class="col-md-12">Ihre Adresse</h3>
            {{> ./input.hbs name="billing:firma" label="Firma" required=true }}

            {{> ./input.hbs name="billing:vorname" label="Vorname" required=true }}
            {{> ./input.hbs name="billing:nachname" label="Nachname" required=true }}

            {{> ./anrede.hbs name="billing:anrede" label="Anrede" required=true }}

            {{> ./input.hbs name="billing:strasse" label="Straße und Nr." required=true size=12}}
            {{> ./input.hbs name="billing:plz" label="PLZ" required=true size=4}}
            {{> ./input.hbs name="billing:ort" label="Ort" required=true size=8}}

            {{> ./land.hbs name="billing:land" label="Land" required=true }}

            <div class="checkbox col-md-12">
                <label>
                    <input type="checkbox"> Die <b>Lieferadresse</b> weicht von der Rechnungsadresse ab.
                </label>
            </div>

            <div class="clearfix"></div>
        </div>


        <div class="cart-box cart-form-deliveryAddress">
            <h3 class="col-md-12">Lieferadresse</h3>
            {{> ./input.hbs name="shipping:firma" label="Firma" required=true }}

            {{> ./input.hbs name="shipping:vorname" label="Vorname" required=true }}
            {{> ./input.hbs name="shipping:nachname" label="Nachname" required=true }}

            {{> ./anrede.hbs name="shipping:anrede" label="Anrede" required=true }}
            {{> ./input.hbs name="shipping:strasse" label="Straße und Nr." required=true size=12}}
            {{> ./input.hbs name="shipping:plz" label="PLZ" required=true size=4}}
            {{> ./input.hbs name="shipping:ort" label="Ort" required=true size=8}}
            {{> ./land.hbs name="shipping:land" label="Land" required=true }}


            <div class="clearfix"></div>
        </div>


        <div class="cart-box cart-form-deliveryAddress">
            <h3 class="col-md-12">Newsletter</h3>

            <div class="checkbox col-md-12">
                <label>
                    <input type="checkbox" name="newsletter"> Ich möchte über aktuelle Angebote, Sonderaktionen und Neuigkeiten per
                    E-Mail informiert werden. Selbstverständlich können Sie den Newsletter jederzeit und umgehend
                    wieder abbestellen.
                </label>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>

    <button type="button" class="btn btn-default pull-left"  data-minicart-role="change-state" data-minicart-target-state="default">zurück zu Schritt 1</button>
    <button type="button" class="btn btn-success pull-right"  data-minicart-role="change-state" data-minicart-target-state="step3">Schritt 3: Prüfen und Bestellen</button>
</div>

